[submodule "neural-network-with-java"]
	path = neural-network-with-java
	url = git@github.com:chemacabeza/neural-network-with-java.git
[submodule "test-for-ai-wan"]
	path = test-for-ai-wan
	url = git@github.com:chemacabeza/test-for-ai-wan.git
[submodule "test-for-audio-generation"]
	path = test-for-audio-generation
	url = git@github.com:chemacabeza/test-for-audio-generation.git
[submodule "test-audio-listener"]
	path = test-audio-listener
	url = git@github.com:chemacabeza/test-for-audio-listener.git
[submodule "test-ai-asistant"]
	path = test-ai-asistant
	url = git@github.com:chemacabeza/test-ai-asistant.git
[submodule "ai_and_MachineLearning"]
	path = ai_and_MachineLearning
	url = https://github.com/chemacabeza/ai_and_MachineLearning.git
